<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Page menu</title>
  <link rel='stylesheet' href='/stylesheets/tailwind-experimental.min.css'>
  <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>

</head>
<body class="flex bg-gray-100 min-h-screen">
  <aside class="hidden sm:flex sm:flex-col">
    <a href="#" class="inline-flex items-center justify-center h-20 w-20 bg-purple-600 hover:bg-purple-500 focus:bg-purple-500">
      <span class="h-18 w-18  sm:ml-1 mr-2 bg-gray-100 rounded-full overflow-hidden">
        <img src="/images/ffmpeg.png" alt="user profile photo" class="h-full w-full object-cover">    </span>
    
    </a>
    <div class="flex-grow flex flex-col justify-between text-gray-500 bg-gray-800">
      <div class="inline-flex items-center justify-center h-20 w-20 border-t border-gray-700">
          </div>
    </div>
  </aside>
  <div class="flex-grow text-gray-800">
    <header class="flex items-center h-20 px-6 sm:px-10 bg-white">
      <button class="block sm:hidden relative flex-shrink-0 p-2 mr-2 text-gray-600 hover:bg-gray-100 hover:text-gray-800 focus:bg-gray-100 focus:text-gray-800 rounded-full">
        <span class="sr-only">Menu</span>
          <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </button>
      <div class="flex flex-shrink-0 items-center ml-auto">
        <button class="inline-flex items-center p-2 hover:bg-gray-100 focus:bg-gray-100 rounded-lg">
          <span class="sr-only">User Menu</span>
          <div class="hidden md:flex md:flex-col md:items-end md:leading-tight">
            <span class="font-semibold">IPCameraFFmpeg</span>
            <span class="font-thin"><%= user %></span>
          </div>
          <span class="h-12 w-12 ml-2 sm:ml-3 mr-2 bg-gray-100 rounded-full overflow-hidden">
            <img src="/images/insc.png" alt="user profile photo" class="h-full w-full object-cover">
          </span>
          <svg aria-hidden="true" viewBox="0 0 20 20" fill="currentColor" class="hidden sm:block h-6 w-6 text-gray-300">
            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg> 
        </button>
        <div class="flex border-l pl-3 ml-3 space-x-1">
          <button class="flex-1 relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
            <span class="sr-only">Notifications</span>
            <span class="absolute top-0 right-0 h-2 w-2 mt-1 mr-2 bg-red-500 rounded-full"></span>
            <span class="absolute top-0 right-0 h-2 w-2 mt-1 mr-2 bg-red-500 rounded-full animate-ping"></span>
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button>
          <form action="/" method="post" class="flex-1"><button class="relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-600 focus:bg-gray-100 focus:text-gray-600 rounded-full">
            <span class="sr-only">Log out</span>
            <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
           </svg>
          </button></form> 
        </div>
      </div>
    </header>
    <main class="p-2 sm:p-2 space-y-6">
      <div class="flex flex-col space-y-1 md:space-y-0 md:flex-row justify-between">
        <div class="mr-6">
          <h1 class="text-xl font-medium">Page Menu</h1>
        </div>
      </div>
      <section class="grid md:grid-cols-2 xl:grid-cols-4 gap-6">
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
          <div class="inline-flex flex-shrink-0 items-center justify-center h-28 w-28 text-red-600 bg-red-100 rounded-full mr-6">
            <img src="/images/livestream2.png" class="w-34 h-34 rounded-full" />
            </div>
            
          <div>
            <form action="/Livestreame" method="post"><button type="submit">   
             <input type="text" name="user" value="<%= user %>" hidden>
              <span class="text-sm font-semibold text-red-400">Live Stream</span>
              </button></form>
          </div>
        </div>
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
            <div class="inline-flex flex-shrink-0 items-center justify-center h-28 w-28 text-green-600 bg-green-100 rounded-full mr-6">
                <img src="/images/mpd2.png" class="w-30 h-30"  alt="">
            </div>
            <div>
              <form action="/LivestreaMPD" method="post">
                <input type="text" name="user" value="<%= user %>" hidden>
                <button type="submit"  class="block text-left text-sm text-orange-400 font-semibold">Streaming Adaptative</button></form>
              </div>
          </div>
     
        <div class="flex items-center p-8 bg-white shadow rounded-lg">
          <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-red-600 bg-red-100 rounded-full mr-6">
            <img src="/images/record1.jpg" class="w-20 h-20" />
            </div>
          <div>
            <form action="/GetsiteRECORD" method="post"><button type="submit">   
              <input type="text" name="user" value="<%= user %>" hidden>
              <span class="text-sm  text-green-500">ENG Camera</span>
              </button></form>
          </div>
        </div>
       
     <div class="flex items-center p-8 bg-white shadow rounded-lg">
          <div class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-200 bg-blue-100 rounded-full mr-6">
            <img src="/images/conver.png" class="w-16 h-16" alt="">
          </div>
          <div>
         <form action="/convertevideo" method="post">
          <input type="text" name="user" value="<%= user %>" hidden>
          <button type="submit">   
          <span class="text-left block text-blue-400 text-sm font-semibold">Video converter</span>
          </button></form>
        </div>
        </div>
      </section>
      <section class="grid md:grid-cols-2 xl:grid-cols-4 xl:grid-rows-3 xl:grid-flow-col gap-6">
        <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
          <div class="px-6 pt-2 py-1 font-semibold border-b border-gray-100">
            <span class="relative pt-2 p-2 text-gray-600 text-sm">Liste Site Camera Par Zone</span>
          </div>
          <div class="p-4 flex-grow">
            <div class="flex items-left justify-left h-full px-1 py-1 bg-gray-100 border-2 border-gray-200 border-dashed rounded-md">
              <div class="overflow-y-auto w-full h-80" style="max-height: 20rem;">
              <div id="listsite">
                <div class="bg-green-50 shadow-md rounded-md overflow-hidden max-w-4xl mx-auto mt-1">
                  <ul class="divide-y divide-green-300" id="allSite">
                 
                  </ul>
              </div>
              

              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg">
          <div class="px-6 pt-2 py-1 font-semibold border-b border-gray-100">
            <span class="relative pt-2 p-2 text-gray-600 text-sm">Liste Agent, Numero Telephone</span>
          </div>
          <div class="p-4 flex-grow">
            <div class="flex items-left justify-left h-full px-1 py-1 bg-gray-100 border-2 border-gray-200 border-dashed rounded-md">
              <div class="overflow-y-auto w-full h-80" style="max-height: 20rem;">
          <div id="listagent">
            <div class="bg-white shadow-md rounded-md overflow-hidden max-w-4xl mx-auto mt-1">
              <ul class="divide-y divide-gray-200" id="alluser">
                 
              </ul>
          </div>
          </div>
            </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
<script>

function GetAlluser(){
  let strlink=""
  $.ajax({
    url:"/Getalluser",
    type:"GET",
    success:(response)=>{
      for(var i in response){
    strlink+=` <li class="flex items-center py-4 px-6">
                      <span class="text-gray-700 text-lg font-medium mr-4">${i}.</span>
                     <div class="class="w-60 h-60 rounded-full object-cover mr-2">
                      <svg class="svg-icon" style="width: 3em; height: 3em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M507.36 103C279.84 103 94.73 288.12 94.73 515.66a422.41 422.41 0 0 0 6.48 70.61c0 0.14 0.25 0.08 0.3 0.2a13.58 13.58 0 0 0 13 10.06 13.76 13.76 0 0 0 13.75-13.76 11.88 11.88 0 0 0-0.27-1.32l0.24-0.11a386 386 0 0 1-6-65.66c0-212.7 172.43-385.13 385.12-385.13S892.49 303 892.49 515.68 720.06 900.8 507.36 900.8c-142.14 0-266-77.22-332.69-191.79 0-0.07-0.09-0.11-0.11-0.18-0.18-0.3-0.38-0.59-0.55-0.89a13.61 13.61 0 0 0-12-7.37 13.76 13.76 0 0 0-13.75 13.75 13.42 13.42 0 0 0 2.74 7.83l-0.23 0.14c71.53 123 204.41 206 356.61 206C734.89 928.29 920 743.2 920 515.66S734.89 103 507.36 103z" fill="#3585F9" /><path d="M507.37 570.43c82.32 0 149.31 67 149.31 149.31h27.51c0-97.49-79.32-176.82-176.82-176.82s-176.83 79.33-176.83 176.82h27.51c0-82.33 66.95-149.31 149.32-149.31z" fill="#3585F9" /><path d="M344.29 719.74m-13.75 0a13.75 13.75 0 1 0 27.5 0 13.75 13.75 0 1 0-27.5 0Z" fill="#3585F9" /><path d="M670.43 719.74m-13.75 0a13.75 13.75 0 1 0 27.5 0 13.75 13.75 0 1 0-27.5 0Z" fill="#3585F9" /><path d="M531.854464 448.620636m-76.926146 76.926147a108.79 108.79 0 1 0 153.852293-153.852294 108.79 108.79 0 1 0-153.852293 153.852294Z" fill="#BAD4FF" /><path d="M507.36 570.42c-75.15 0-136.29-61.14-136.29-136.3s61.14-136.3 136.29-136.3 136.3 61.15 136.3 136.3-61.14 136.3-136.3 136.3z m0-245.09a108.8 108.8 0 1 0 108.8 108.79 108.92 108.92 0 0 0-108.8-108.79z" fill="#3585F9" /></svg></div>
                      <div class="flex-1">
                          <h3 class="text-lg font-medium text-gray-800">${response[i].user}</h3>
                          <p class="text-gray-600 text-base">Mobile@${response[i].mobile}</p>
                      </div>
                  </li>`
      }
    
      $("#alluser").html(strlink);
    }
  })
  
}

function GetallSite(){
  let strlink=""
  $.ajax({
    url:"/GetallSite",
    type:"GET",
    success:(response)=>{
    let Obs=[];
    let ids={};
response.forEach(obj => {
    if (!ids[obj.site]) {
        ids[obj.site] = true;
        Obs.push(obj);
    }
});

    for(var i in Obs){
    strlink+=`<li class="flex items-center py-4 px-6">
                          <span class="text-gray-700 text-lg font-medium mr-4">.</span>
                          <img class="w-12 h-12 rounded-lg object-cover mr-4 border border-red-400" src="/images/camera.jpg"
                              alt="User avatar">
                          <div class="flex-1">
                              <h3 class="text-lg font-medium text-gray-800">${response[i].site}</h3>
                              <p class="text-green-600 text-base">User:${response[i].user}</p>
                            </div>
                      </li>`
                   
      }
    
      $("#allSite").html(strlink);
    }
  })
  
}
$(document).ready(()=>{
  GetAlluser();
  GetallSite();
})

</script>
</html>