<!DOCTYPE html>
   
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Liste Compte</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/tailwind.css">
  <link href="/stylesheets/jquery.dataTables.min.css" rel="stylesheet">
	<link href="/stylesheets/responsive.dataTables.min.css" rel="stylesheet">
    <link href="/stylesheets/datatable.css" rel="stylesheet">
    <script src="/javascripts/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- jQuery -->
<script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
<!--Datatables -->
<script src="/javascripts/jquery.dataTables.min.js"></script>
<script src="/javascripts/dataTables.responsive.min.js"></script>
</head>
<body class="flex bg-gray-100 min-h-screen">
     <div class="flex-grow w-full text-gray-800">
        <header class="flex items-center h-20 px-6 sm:px-10 bg-white">
          <button class="block sm:hidden relative flex-shrink-0 p-2 mr-2 text-gray-300 hover:bg-gray-100 hover:text-gray-800 focus:bg-gray-100 focus:text-gray-800 rounded-full">
            <span class="sr-only">Eng Archives</span>
              <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
            </svg>
          </button>
          <div class="relative w-full max-w-md sm:-ml-2">
            <svg aria-hidden="true" viewBox="0 0 20 20" fill="currentColor" class="absolute h-6 w-6 mt-2.5 ml-2 text-gray-400">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
            <input type="text" role="search" placeholder="Quick Search" class="py-2 pl-10 pr-4 w-full border-4 border-transparent placeholder-gray-400 focus:bg-gray-50 rounded-lg" />
          </div>
          <div class="flex flex-shrink-0 items-center ml-auto">
            <button class="inline-flex items-center p-2 hover:bg-gray-100 focus:bg-gray-100 rounded-lg">
              <span class="sr-only">User Menu</span>
              <div class="hidden md:flex md:flex-col md:items-end md:leading-tight">
                <span class="font-semibold">IPCameraFFmpeg</span>
                <span class="font-thin"><%= user %></span>
              </div>
              <span class="h-12 w-12 ml-2 sm:ml-3 mr-2 bg-gray-100 rounded-full overflow-hidden">
                <img src="/images/ffmpeg.png" alt="user profile photo" class="h-full w-full object-cover">
              </span>
              <svg aria-hidden="true" viewBox="0 0 20 20" fill="currentColor" class="hidden sm:block h-6 w-6 text-gray-300">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg> 
            </button>
            <div class="border-l pl-3 ml-3 space-x-1">
              
              <form action="/getmenu" method="post" class="flex-1">
                <input type="text" name="user" value="<%= user %>" hidden>
                <button type="submit" class="relative p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-300 focus:bg-gray-100 focus:text-gray-300 rounded-full">
                <span class="sr-only">Log out</span>
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
               </svg>
              </button>
              </form>
            </div>
          </div>
        </header>

        <main>
            <div style="width: 99.9%;" id='recipients' class="p-3 mt-6 lg:mt-0 rounded shadow bg-white">
             <div class="w-full  bg-slate-400">
               <div class="flex h-10 mr-2 flex-wrap items-start justify-end mb-1">
                <form action="/GetaddUser" method="post">
                  <input type="text" name="user" value="<%= user %>" hidden>
                  <button class="inline-flex px-2 py-2 text-purple-600 hover:text-purple-700 focus:text-purple-700 hover:bg-purple-100 focus:bg-purple-100 border border-purple-600 rounded-md mb-3">
                     <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="flex-shrink-0 h-5 w-5 -ml-1 mt-0.5 mr-2">
                       <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                     </svg>
                     Ajouter Compte
                   </button></form>
              </div>        
           </div>
           </div>
        <div id="loyee_data" class="flex-1 items-left mt-2 w-full h-fit px-1">
                <!--Container-->
             <table id="example" class="stripe hover text-slate-500" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
             </table>
        </div>
        </div>
        </main>
</body>
<script>
 
const aoColUser= [{'mData': 'action','sTitle': 'Action', 'bVisible': true},
 {'mData': 'user','sTitle': 'User', 'bVisible': true},
 {'mData': 'site','sTitle': 'Site', 'bVisible': true},
 {'mData': 'poste','sTitle': 'Poste', 'bVisible': true},
{'mData': 'email','sTitle': 'Email', 'bVisible': true},
{'mData': 'mobile','sTitle': 'Phone', 'bVisible': true},
{'mData': 'validUser', 'sTitle': 'Valide User', "bVisible": true}
]
function Getallusder(){
    let allUser=[];
    $('#loyee_data').html(""); 
    $('#loyee_data').html( '<table id="example" style="width:99%"></table>' );
    $.ajax({
        type:"GET",
       url:"/Getalluser",
       success:function(response){
        console.log(response)
        for(var i in response){

        allUser.push({
        action:`<div class="inline-flex rounded-md shadow-xl bg-green-100 px-2 py-1" role="group">
        <form action="/GetEditUser" method="post" title="Edit Compte">
          <input value="<%= user %>" name="user"    type="text" hidden>
          <input name="id" type="text" value="${response[i].id}" hidden /><button style="width:55px;height:55px" class="pl-2 hover:bg-yellow-200 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-200 focus:text-blue-200 dark:bg-gray-200 dark:border-gray-200 dark:text-white dark:hover:text-white dark:hover:bg-gray-200 dark:focus:ring-blue-200 dark:focus:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" height="25" width="25" viewBox="0 0 512 512">
        <path fill="#0080c0" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/>
        </svg>
        </button></form>
        <form  title="Valide compte" action="/GetvalidUser" method="post">
          <input value="<%= user %>" name="user"    type="text" hidden>
        <input value="${response[i].id}" name="id"    type="text" hidden>
        <button type="submit" style="width:57px;height:57px" class="inline-flex items-center  ml-2 px-4 py-4 text-sm font-medium text-gray-900  border-t border-b border-gray-200 hover:bg-yellow-300 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-300 dark:text-white dark:hover:text-white dark:hover:bg-gray-300 dark:focus:ring-blue-500 dark:focus:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="33" height="33" viewBox="0 0 256 256" xml:space="preserve">
        <defs>
        </defs>
        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
          <circle cx="45" cy="45" r="45" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(40,201,55); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
          <path d="M 38.478 64.5 c -0.01 0 -0.02 0 -0.029 0 c -1.3 -0.009 -2.533 -0.579 -3.381 -1.563 L 21.59 47.284 c -1.622 -1.883 -1.41 -4.725 0.474 -6.347 c 1.884 -1.621 4.725 -1.409 6.347 0.474 l 10.112 11.744 L 61.629 27.02 c 1.645 -1.862 4.489 -2.037 6.352 -0.391 c 1.862 1.646 2.037 4.49 0.391 6.352 l -26.521 30 C 40.995 63.947 39.767 64.5 38.478 64.5 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        </g>
        </svg>
      </button></form>
        <form  title="Edit compte" action="/GetDellUser" method="post">
          <input value="<%= user %>" name="user"    type="text" hidden>
         <input value="${response[i].id}" name="id"    type="text" hidden>
        <button type="submit" style="width:57px;height:57px" class="inline-flex items-center  ml-2 px-4 py-4 text-sm font-medium text-gray-900  border-t border-b border-gray-200 hover:bg-yellow-300 hover:text-white focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-300 dark:text-white dark:hover:text-white dark:hover:bg-gray-300 dark:focus:ring-blue-500 dark:focus:text-white">
           <svg  width="33" height="33" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"><defs id="SvgjsDefs1017"></defs><g id="SvgjsG1018">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="33" height="33"><path fill="#ff6699" d="M15 3a1 1 0 0 1 1 1h2a1 1 0 1 1 0 2H6a1 1 0 0 1 0-2h2a1 1 0 0 1 1-1h6Z" class="color000 svgShape">
            </path><path fill="#ff6699" fill-rule="evenodd" d="M6 7h12v12a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V7Zm3.5 2a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 1 0v-9a.5.5 0 0 0-.5-.5Zm5 0a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 1 0v-9a.5.5 0 0 0-.5-.5Z" clip-rule="evenodd" class="color000 svgShape">
            </path></svg></g></svg></button></form></div> `,
        user:`<span class="bg-red-100 rounded-2xl shadow-sm px-3 py-2">${response[i].user}</span>`,
        site:`<span class="bg-red-100 rounded-2xl shadow-sm px-3 py-2">${response[i].site}</span>`,
        poste:`<span class="bg-red-100 rounded-2xl shadow-sm px-3 py-2">${response[i].poste}</span>`,
        email:`<span class="bg-voilet-100 rounded-2xl shadow-sm px-3 py-2">${response[i].email}</span>`,
        mobile:`<span class="bg-voilet-100 rounded-2xl shadow-sm px-3 py-2">${response[i].mobile}</span>`,
       
        validUser:`<span class="bg-yellow-100 rounded-2xl shadow-sm px-3 py-2">${response[i].validUser}</span>` })
        }
        var table=$('#example').dataTable( {
                         "aaData":allUser,
                         "aoColumns": aoColUser,
                         "sScrollY": "400px",
                         "sScrollX": "100%",
                             "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                                 "bPaginate": true

                     } );
     
      
    }
    })
}
$(document).ready(function(){
    Getallusder();
})
 </script>


</html>
   
